<html>
<head>
<div class="hero">
  <div class="container">
    <h2>The Avengers</h2>
    <p>In 2018, twenty-three days after Thanos killed half of all life in the universe, Carol Danvers rescues Tony Stark and Nebula from deep space and they reunite with the remaining Avengers—Bruce Banner, Steve Rogers, Thor, Natasha Romanoff, and James Rhodes—and Rocket on Earth.</p>
  </div>
</div>
</head>
<div class="main">
  <div class="container">
  <h2>Blockbuster Films</h2>
    <% @movies.each do |m| %>
      <div class="movie">
        <%= image_tag m.picture%>
        <h3><%= m.name %></h3>
     <p> | <%= link_to "View Details", movie_path(m.id) %> | </p>
     </div>
        <% end %>
      </div>
    </div>
        <p><%= link_to "Add Movie", new_movie_path, { :class => "btn btn-primary"}  %> </p>
      <div class="footer">
        <div class="container">


      </div>
    </div>

  </html>
