


* {
  margin: 0;
  padding: 0;
}

.cf:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}



body, html {
  background: #000;
  font-family: "Oxygen", sans-serif;
}

.header {
  background: url('http://s3.amazonaws.com/codecademy-content/courses/learn-rails/img/bg.png') rgba(0,0,0,0.8);
  background-size: 40px 80px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  height: 80px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.header h1 {
  text-indent: -9999px;
}

.header img {
  margin: 20px 10px;
}

.container {
  margin: 0 auto 0;
  width: 960px;
}

.home-supporting p,.about-supporting p{
   color:#fff
    font-size:21px;
    font-weight:100
}

.about-supporting p{

    margin-top:30px
}

.edit-main p{
    color:#fff;
    position:relative;
    top:60px;
    text-align:center
}

.edit-main h1{
    color:#fff;
    position:relative;
    top:60px;
    text-align:center;
    font-weight:100;
    margin-bottom:30px;
    text-shadow:0 2px 3px rgba(0,0,0,0.4)
}

.new-main p{
    color:#fff;
    position:relative;
    top:60px;
    text-align:center
}

.new-main h1{
    color:#fff;
    position:relative;
    top:60px;
    text-align:center;
    font-weight:100;
    margin-bottom:30px;
    text-shadow:0 2px 3px rgba(0,0,0,0.4)
}

$starrrColor: #FFD119 !default;

.starrr {
  display: inline-block;

  a {
    font-size: 16px;
    padding: 0 1px;
    cursor: pointer;
    color: $starrrColor;
    text-decoration: none;
  }
}



/*
  MOVIES
*/

.hero {
  background: url('https://i.ytimg.com/vi/48fKIXlxaXk/maxresdefault.jpg');
  background-size: cover;
  height: 650px;
  width: 100%;

}


.main h2 {
  color: #0393ff;
  padding: 50px 0px 50px 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  text-shadow: 0px 2px 2px rgba(0,0,0,0.1);
  text-transform: uppercase;
}

.movie p {
  color: #ffff;
  font-size: 14px;
}

.hero h2 {
  color: #fff;
  padding: 390px 30px 50px 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  text-shadow: 0px 2px 2px rgba(0,0,0,0.1);
  text-transform: uppercase;
}


.hero p {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  color: #FFFFFF;
  display: block;
    display: -webkit-box;
  max-height: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 30%;
}

.btn-default{

    background-color:#ffff
    position:relative;
    text-align: left;
    padding: 150px 40px 50px 40px;

}


.hero a {
  background-color: #0393ff;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  border-radius: 2px;
  border-top: 1px solid rgba(255,255,255,0.25);
  color: #fff;
  display: block;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  margin: 20px 0 0 0;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.5s;
  width: 110px;
}

.hero a:hover {
  background-color: #0073ad;
  transition: background-color 0.5s;
}

h3{
  color: #FFFFFF;
  font-size: 25px;
  position:relative;
  height: auto;
  line-height: 30px;
}

 p {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  line-height: 18px;
  margin: 12px 0 4px;
  height: auto;
  text-decoration: none;
}

.movie {
  display: block;
  float: left;
  margin: 0 10px 80px 0;
  margin-bottom: 80px;
  width: 184px;
    height: 300px;
}



.movie:nth-child(5n + 6) {
  margin: 0px 10px 80px 0;
}

.movie img{
  width: 95%;
}

.movie a {
  color: #0393ff;
  text-decoration: none;
}

p.year {
  color: #bcbec0;
}

/*
  MOVIE SHOW
*/
.movie-show .movie {
  color: #ffff;
  padding: 160px 0 0 0;
  width: 100%;
}


.movie-show .movie img {
  float: left;
  width: 184px;
}

.movie-show .movie h3 {
  color: #FFFF;
  font-size: 30px;
  height: auto;
  line-height: 30px;
}

.main movie-show, .info p{
  color: #ffff;
  display: block;
  float: left;
  font-family: "Montserrat", sans-serif;
  line-height: 18px;
  margin: 12px 0 4px;
  height: auto;
  text-decoration: none;
  width: calc(100% - 224px);
}

.movie-show .movie p {
  display: block;
  color: #ffff;
padding: 0px 5px;

}

.movie-show .movie p.year {
  margin: 0 0 20px 0;
}


 .moviesList a{
  color: #0393ff;
  text-decoration: none;
}


/*
  MEDIA QUERIES
*/

@media screen and (max-width: 960px) {
  .container {
    padding: 0 20px;
    width: calc(100% - 40px);
  }

  .hero h2 {
    padding: 250px 0 0 0;
  }

  .hero p {
    width: 50%;
  }

  .movie, {
    width: calc(25% - 10px);
  }

  .movie h3 {
    font-size: 10px;
    padding: 12px 50px
  }

  .movie a {
    font-size: 12px;
  }


@media screen and (min-width: 700px) {
  .movie a, {
    font-size: 14px;
  }
}

@media screen and (max-width: 420px) {
  .movie, {
    width: calc(50% - 10px);
  }

  .info {
    margin: 0 0 0 20px;
    width: calc(100% - 204px);
  }

  .movie-show .movie h3 {
    font-size: 24px;
    line-height: 30px;
  }

  .movie a, {
    font-size: 14px;
  }

  .footer {
      background-color: #f9f9f9;
      border-top: solid 1px #F5F5F5;
      padding: 40px 0 30px 0;
      text-align: center
  }
  .footer p {
      text-transform: uppercase;
      font-size: 12px;
      color: #aaa
  }

}



/*

 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
